@require("./index.scss")

<div class="Error404">
	<div class="wrapper">
		<div class="container">
			<div class="title">{{ 'general.404.title' | t }}</div>
			<div class="text">{{ 'general.404.subtext' | t }}</div>
			<a href="{{ section.settings.button_link }}" class="button">
				{{ section.settings.button_label }}
			</a>
		</div>
	</div>
</div>

